<!-- Add any forms here to test HTTP requests to the API -->

<!-- Profile Create (POST) -->
<h4>Profile Create (direct API hit, POST to /api/profile)</h4>
<form action="/api/profile" method="POST">
  <input type="text" placeholder="username" name="username"><br />
  <input type="text" placeholder="email" name="email"><br />
  <input type="text" placeholder="password" name="password"><br />
  <input type="submit">
</form>

<!-- Register (POST) -->
<h4>Register (POST to account route)</h4>
<form action="/account/register" method="POST">
  <input type="text" placeholder="username" name="username"><br />
  <input type="text" placeholder="email" name="email"><br />
  <input type="text" placeholder="password" name="password"><br />
  <input type="submit">
</form>

<!-- Login (POST) -->
<h4>Login (POST to account route)</h4>
<form action="/account/login" method="POST">
  <input type="text" placeholder="email" name="email"><br />
  <input type="text" placeholder="password" name="password"><br />
  <input type="submit">
</form>